<launch>
<!-- start up world -->
  <include file="$(find potential_field)/launch/map.launch"/>
  <include file="$(find robotont_navigation)/launch/move_base.launch"/>
  <remap from="cmd_vel" to="cmd_vel_robotont"/>
  <include file="$(find potential_field)/launch/robotont_custom.launch"/>

  <!-- load map -->
  <node pkg="potential_field" name="potential_field" type="potential_field.py" output="screen"/>
  <node pkg="potential_field" name="compute_velocity" type="compute_velocity.py" output="screen"/>
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find potential_field)/potential_field.rviz" />
</launch>